.wrapper {
   background-color: #F5EDE7;
   ; 
}

/*header styles */

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.logo_nav_block {
    display: flex;
}

.logo_img {
 padding: 16px 16px 16px 24px;
}

.nav_list {
    display: flex;
    padding-top: 54px;
    
}

.nav_item {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    padding-right: 16px;
}

.nav_item:last-child {
   padding-right: 0px; 
}

.registration {
    padding: 21px 24px 0 0;
}

.reg_list {
    display: flex;
}

.reg_item {
    margin-right: 16px;
}

.reg_item:last-child {
    margin-right: 0;
}

.reg_text {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 18px;
    color: #000000;  
}

/* fresh styles*/

.fresh {
    background-color: #FFC3A0;
    display: flex;;
}

.left_side {
    font-family: Roboto;
    font-weight: 400;
    font-size: 78px;
    color: #000000;
    padding: 83px 83px 24px 16px;
}

.left_title {
    margin-bottom: 33px;
}

.left_text {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.left_btn {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    color: #000000; 
    border-radius: 35px;
    border: 1px solid #000000; 
    padding: 12px 73px;
    background-color: inherit;
}

.right_img {
    padding: 24px 16px 24px 48px;
}

/*works styles */

.works {
    padding: 64px 16px 81px 16px;
}

.works_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 43px;
    align-items: center;
    color: #000000;
    text-align: center; 
    margin-bottom: 63px; 
}

.works_cards {
    margin-bottom: 42px;
}

.cards_list {
    display: flex;
}

.cards_item {
    margin-right: 28px;
}

..cards_item:last-child {
    margin-right: 0;
}

.cards_img_wrapper {
   display: flex;
   justify-content: center; 
}

.cards_title {
    font-family: Roboto;
    font-size: 27px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #000000;
    text-align: center;
    margin-bottom: 5px;
}

.cards_text {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
     color: #000000;
}

.works_btn {
    color: #0126DE;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 18px; 
    border-radius: 35px;
    border: 1px solid #000000;
    padding: 12px 73px;
    background-color: inherit;
}

.container_cards_btn {
    display: flex;
    justify-content: center;
}
/*baked styles*/

.baked {
    display: flex;
}

.left_baked {
    padding: 48px 48px 48px 16px;
}

.right_baked {
    padding : 111px 31px 111px 0;
}

.baked_title {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    line-height: 56.02px;
    text-align: left;
    color: #000000;
    margin-bottom: 23px;
}

.baked_btn {
    color: #0126DE;
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
    align-items: center;
    border-radius: 35px;
    border: 1px solid #000000;
    padding: 12px 73px;
    background-color: inherit;
}

/*pastry styles*/

.pastry_list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 71px 16px 73px 16px;   
}
.pastry_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 39px;
    align-items: center;
    color: #000000; 
    text-align: center;
    padding-bottom: 24px;
}

.pastry_item {
    margin-right: 24px;
}

.pastry_img {
    margin-bottom: 12px;
}

.pastry_sub_title {
    font-family: Roboto;
    font-size: 27px;
    font-weight: 400;
    line-height: 36px;
}

.pastry_text {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin: 7px 0 9px 0; 
}

.pastry_btn {
    color: #0126DE;
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
    align-items: center;
    border-radius: 35px;
    border: 1px solid #000000;
    padding: 12px 73px;
    background-color: inherit;
    margin-bottom: 24px;    
}

.chilled_img {
    width: 1520px;
    height: 1100px;
    top: 3505.78px;
    gap: 0px;
    opacity: 0px;
}

/* tasty cards styles*/

.tasty_cards_list {
    display: flex;
    padding: 16px;
}

.tasty_cards_item {
    border-radius: 20px;
    border: 1px solid #000000;
    margin-right: 16px;
    padding: 25px 30px 22px 30px ;
}

.tasty_cards_item:last-child {
    margin-right: 0;
}

.tasty_cards_img_block {
    display: flex;
    justify-content: center;
  }

.tasty_cards_title {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 400;
    line-height: 68.55px;
    text-align: center;
    margin-bottom: 20px;
}

.tasty_cards_text {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.01px;
    text-align: center;
    margin-bottom: 22px;
}

/* comics styles */

.comics {
    padding: 16px 180px;
  }
  
  .comics_top_block {
    display: flex;
    margin-bottom: 48px;
  }
  
  .comics_bottom_block {
    display: flex;
  }
  
  .comics_left_top {
    margin-right: 48px;
  }
  
  .comics_title {
    margin: 47px 0 26px 0;
    text-transform: uppercase;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
  }
  
  .comics_text {
    margin-bottom: 22px;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    color: #000000;
  }
  
  .comisc_btn {
    padding: 12px 73px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    color: #000000;
    background-color: inherit;
    border-radius: 35px;
    border: 1px solid #000000;
  }
  
  .comics_left_bottom {
    margin-right: 48px;
  }

/*tarlabakes styles*/

.tarlabakes {
    padding: 65px;
    
}

.tarlabakes_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 43px;
    text-align: center;
    color: #000000; 
    margin-bottom: 15px;
}

.tarlabakes_img_wrapper {
    display: flex;
    justify-content: center;
}

.tarlabakes_img {
    margin-right: 24px;
}

.tarlabakes_img:last-child {
    margin-right: 0;
}

.tarlabakes_img {
    padding-bottom: 64px;
}

/*footer */

.footer {
    background-color: #F5EDE7;
}

.community_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color: #000000;
    margin-bottom: 14px;
}

.community_text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 31px;
    text-align: center;
    color: #000000; 
    margin-bottom: 24px; 
}

.community_btn {
    color: #000000;
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 12px 73px;
    background-color: inherit;
}

.community_container{
    text-align: center;
} 

.footer_without_community {
    display: flex;
    justify-content: space-around;
}

/* account styles*/

.account {
    display: flex;
    flex-direction: column;
}

.account_link_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}

.account_link {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    color: #000000; 
}

/*company styles*/

.company {
    display: flex;
    flex-direction: column;
}

.company_link_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 23px;
    color: #000000;  
}

.company_link {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    color: #000000;  
}

/*resources styles */

.resources {
    display: flex;
    flex-direction: column;  
}

.resources_link_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
    color: #000000;  
}

.resources_link {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    color: #000000;  
}

/* social styles*/

.social_link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 23px;
    color: #000000; 
}

/*copy styles */

.copy_text {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 14px;
    color: #000000;  
}





