.wrapper {
   background-color: #F5EDE7;
   ; 
}

/*header styles */

.header {
    display: flex;
}

.nav_list {
    display: flex;
    padding: 54px 0px 20.22px;
}

.nav_item {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    padding-right: 16px;
}

.nav_item:last-child {
   padding-right: 0px; 
}

.reg_text {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 18px;
    color: #000000;  
}

/* fresh styles*/

.fresh {
    background-color: #FFC3A0;
}

.left_side {
    font-family: Roboto;
    font-weight: 400;
    font-size: 78px;
    color: #000000;
}

.left_text {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.left_btn {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    color: #000000;  
}

/*works styles */

.works_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 43px;
    align-items: center;
    color: #000000;  
}

.cards_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 27px;
    align-items: center;
    color: #000000;  
}

.cards_text {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    color: #000000; 
}

.button_cards {
    color: #0126DE;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 18px;
    align-items: center; 
}

/*baked styles*/

.baked_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
}

.baked_btn {
    color: #0126DE;
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
    align-items: center; 
}

/*pastry styles*/

.pastry_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 39px;
    align-items: center;
    color: #000000; 
}

.pastry_sub_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 27px;
    color: #000000; 
}

.pastry_text {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 20px;
    color: #000000; 
}

.pastry_btn {
    color: #0126DE;
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
    align-items: center 
}

/* tasty cards styles*/

.tasty_cards_title {
    font-family:Roboto;
    font-weight: 400;
    font-size: 20px;
    color: #000000;  
}

.tasty_cards_text {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 20px;
    color: #000000; 
    text-align: center;
}

/* comics styles */

.comics_right_top_title {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    color: #000000; 
}

.comics_right_top_text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 26px;
    color: #000000; 
}

.comics_right_top_btn {
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #000000;  
}

.comics_left_bottom_title {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.comics_left_bottom_text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 30px;
    color: #000000; 
}

.comics_left_bottom_btn {
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #000000;   
}

/*tarlabakes styles*/

.tarlabakes_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 43px;
    text-align: center;
    color: #000000; 
}

/*footer */

.footer {
    background-color: #F5EDE7;
}

.community_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color: #000000; 
}

.community_text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 31px;
    text-align: center;
    color: #000000;  
}

.community_btn {
    font-family: Roboto;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #000000; 
}

/* account styles*/

.account_link_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}

.account_link {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    color: #000000; 
}

/*company styles*/

.company_link_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 23px;
    color: #000000;  
}

.company_link {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    color: #000000;  
}

/*resources styles */

.resources_link_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
    color: #000000;  
}

.resources_link {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    color: #000000;  
}

/* social styles*/

.social_link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 23px;
    color: #000000; 
}

/*copy styles */

.copy_text {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 14px;
    color: #000000;  
}





